<h1><span class="glyphicon glyphicon-question-sign"></span> <%= @question.title %> </h1>
<p id="notice"><%= notice %></p>


<% if current_user == @question.user_id %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>


<h3>Answers</h3>

<table>
  <thead>
    <tr>
      <th class="col-md-2">Answer id</th>
      <th class="col-md-2">Content</th>
      <th class="">Tags</th>      
      <th class="col-md-2">User</th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td class="col-md-2"><%= answer.id %></td>
        <td class="col-md-2"><%= answer.description %></td>

        <td class="col-md-2"><%= User.find(answer.user_id).username %></td>     
    <td>  <%= link_to "Upvote", {:controller =>"answers", :action => "upvote", :id => answer.id}, :class => 'btn', method: :put %></td>
        <td>  <%= link_to "Downvote", {:controller =>"answers", :action => "downvote", :id => answer.id}, :class => 'btn', method: :put %></td>
        <% if signed_in? %>
		      <% if current_user.id == answer.user_id  %>
						<td>	<%= link_to 'Edit', '/questions/'+@question.id.to_s+'/answers/'+answer.id.to_s+'/edit' %>        		</td>
			      <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %>
			      </td>
		      <% end %>        
       <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>






<div class="questions">
        <div id="question">
            <table>
                <tbody>
                    <tr>
                        <td class="votecell">
                            <div class="vote">
														<a class="vote-link" data-method="put" href="/questions/12/upvote" >
																<span class="vote-up glyphicon glyphicon-circle-arrow-up"></span>
														</a>

                                <span class="vote-count">10</span>
														<a class="vote-link" data-method="put" href="/questions/12/downvote" >
																<span class="vote-down glyphicon glyphicon-circle-arrow-down"></span>
														</a>
                            </div>
                        </td>
                        <td class="postcell">
                            <div class="post-content">
                                <p>
									  <%= @question.content %>                               
				  				 </p>
                            </div>
                            <div class="tags">
																<%=raw tag_links(@question.all_tags)%>
                            </div>
                            <table>
                                <tbody>
                                <tr>
                                    <td align="left"></td>
                                    <td align="right">
                                        <div class="user-info">
                                            <div class="user-info-detail">
                                                <div class="user-info-name">
                                                    <a href="#"><%= @user.username %></a>
                                                </div>
                                                <div class="user-info-pic">
                                                    <span class="glyphicon glyphicon-user">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="answers">
            <div id="answers-header">
                <h4>
                    2 Answers
                </h4>
            </div>
            <hr>
            

			    <% @answers.each do |answer| %>            
            <div class="answer">
                <table>
                    <tbody>
                    <tr>
                        <td class="votecell">
                            <div class="vote">
                                <span class="vote-up glyphicon glyphicon-circle-arrow-up"></span>
                                <span class="vote-count">10</span>
                                <span href="#" class="vote-down glyphicon glyphicon-circle-arrow-down"></span>
                            </div>
                        </td>
                        <td class="postcell">
                            <div class="post-content">
                                <p>
                                   <%= answer.description %>
                                </p>
                            </div>
                            <table>
                                <tbody>
                                <tr>
                                    <td align="left"></td>
                                    <td align="right">
                                        <div class="user-info">
                                            <div class="user-info-time">
                                                <p>asked 20h ago</p>
                                            </div>
                                            <div class="user-info-detail">
                                                <div class="user-info-name">
                                                    <a href="#">quynv</a>
                                                </div>
                                                <div class="user-info-pic">
                                                    <img src="img/download.jpg" class="gravatar ">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <% end %>
        </div>
    </div>
    
    
    
    
    <h3>New answer</h3>

<% if signed_in? %>

	<%= form_for([@question,@answer]) do |f| %>
		<div class="field">
		  <%= f.label :description %><br>
		  <%= f.text_area :description %>
		</div>
		<div class="actions">
		  <%= f.submit %>
		</div>
	<% end %>
<% end %>

